.reg-ev-card {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    height: calc(100% - 60px);

    &:hover,
    &:focus {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.view-btn {
    width: 50px;

    &:hover {
        cursor: pointer;
    }
}
